PORT=3001
NODE_ENV=development
MONGODB_URI=mongodb+srv://<user>:<password>@<cluster-host>/asset_db?retryWrites=true&w=majority
MONGODB_DB_NAME=asset_db
ASSET_SERVICE_URL=http://localhost:3001
OPERATIONS_SERVICE_URL=http://localhost:3002
